.right {
    float:right;
}

.overflowManage {
    overflow: hidden;
}

.postOutcome {
    display: none;
}


.dateEntry * {
    display:inline-block;
}

.dateEntry label {
    display: none;
}

.dateEntry input {
    width:45px;
}