/*Products Stylesheet*/

.productListing img{
    background-size: cover;
    border-radius: 8px 24px;
    width: 100%;
    float:right;
}

.describe {
    position: relative;
    float: left;
    font-size: 12px;
}

.describe :first-child {
    font-size: 24px;
}

.describe :last-child {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 22px;
}

.product {
    overflow: hidden;
    border-left: 14px solid #030708;
    border-radius: 10px 30px;
}